@charset "UTF-8";

/*************************************
layout-base
**************************************/
._body{
	margin:0px;
	padding:0px;
	background-color:#ffffff;
	overflow-x:hidden;
	width:100vw;
	min-width:1600px;
}
._body > ._header{
	position:relative;
	width:100%;
	min-width:1600px;
}
._body > ._contents{
	position:relative;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	min-width:1600px;
	height:500px;
	background-color:#ff00ff;
}
._body > ._footer{
	position:relative;
	width:100%;
	min-width:1600px;
}

/*************************************
layout-header
**************************************/
._header_div{
	width:100%;
	padding-top:20px;
	padding-bottozm:10px;
	padding-left:10px;
	background-color:#091120;
}

/*************************************
layout-footer
**************************************/
._footer_div{
	position:absolute;
	width:100%;
	height:50px;
	background-color:#292929;
	color:#ffffff;
}

.footer_contents{
	width:83%;
	height:100%;
	line-height:100%;
	margin-left:auto;
	margin-right:auto;
}
.footer_contents > table > tbody > tr > td{
	padding-left:5px;
	padding-right:5px;
}
.footer_contents > table > tbody > tr > td > span{
	vertical-align:middle;
	font-size:20px;
	line-height:50px;
}