<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.u1.cpp.login.service.UserVO" alias="userVo" />
	</typeAliases>
	
	<mappers>
		<mapper resource="sqlmap/mappers/login/loginSQL.xml"/>
	</mappers>
</configuration>